html, body {
	padding: 0;
	margin: 0;	
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 0;
    margin: 0;
    background-color: #fff;
}


a {
	text-decoration: underline;
	color: #fff;
}
a:hover {
	text-decoration: none;
}

a img {
	width: inherit;
	border: none;
}


table {
	font-size: 14px;
    text-align: left;
	color: #fff;
    border-collapse: collapse;
}

table th, table td {
	text-align: left;
}


.clear {
    width: 100%;
	display: block;
	font-size: 1px;
	clear: both;
}


.iframe_thumbs {
	padding: 0;
	margin: 0;
}

.thumb_box {
	float: left;
	
	margin: 5px;
}

.thumb_box a.img {
	display: block;
	margin-bottom: 5px;
}
.thumb_box a.img img {
	display: block;
	
	max-width: 100%;
	height: auto;
	
	margin: 0 auto;
	
	border: 2px solid #000; 
}

.thumb_box a.label {
	display: block;
	text-align: center;
	
	color: #000;
}
