body {
    color: #afafaf;
    
	background-color: #000;
}


h1 {
	color: #fff;
}

h2 {
	color: #fff;
}

h3 {
	color: #fff;
}

h4 {
	color: #fff;
}


a {
    color: #bb1010;
}
a:hover {
    /*color: #fff;*/
}

table {
	color: #fff;
}


.form_general legend {
	color: #bb1010;
}

.form_general label, .form_general .required {
    font-weight: normal;
	color: #848484 !important;
}

.form_general th, .form_general td {
	color: #fff;
}

.form_general tr.border_top th, .form_general tr.border_top td {
	border-top: 3px solid #545454;
}

.form_general .help {
	color: #afafaf;
}

.form_general input.bg, .form_general textarea.bg {
    color: #fff;
    
    background-color: #171717;
	border: 2px solid #545454;
}

.form_general textarea.bg {
    overflow: auto;
}

.form_general input.button {
	background-color: #bb1010;
	
	background-image: none;
	background-image: -moz-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
}
.form_general input.button:hover {
	background-color: #7e0b0b;
    
    background-image: none;
	background-image: -moz-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
}

.form_general input.bg::-webkit-input-placeholder, .form_general textarea.bg::-webkit-input-placeholder { 
    color: #fff;
}
.form_general input.bg:-moz-placeholder, .form_general textarea.bg:-moz-placeholder { 
    color: #fff;
}
.form_general input.bg::-moz-placeholder, .form_general textarea.bg::-moz-placeholder { 
    color: #fff;
}
.form_general input.bg:-ms-input-placeholder, .form_general textarea.bg:-ms-input-placeholder { 
    color: #fff;
}


.white_box, .pink_box, .help_box {
    background-color: #2a2a2a;
	
	-moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.help_box h2 {
	color: #fff;
	border-color: #474646;
}


.help_box ul li {
	color: #fff !important;
}

.pink_box h3, .pink_box h4 {
	color: #848484;
}

.pink_box .strong, .pink_box a {
	color: #bb1010;
}

.advert_box .label {
    color: #fff;
    
    margin-bottom: 3px;
}


.button_green_fix, .button_green, .button_blue_small {
	background-color: #bb1010;
	
	background-image: none;
	background-image: -moz-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
}
.button_green_fix:hover, .button_green:hover, .button_blue_small:hover {
	background-color: #7e0b0b;
    
    background-image: none;
	background-image: -moz-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
}



.form_contact {
    border-right: 1px solid #242424;
}

.contact_right a {
	color: #bb1010;
}

.contact_right th {
	color: #848484;
}
.contact_right td {
	color: #fff;
}



/* HEADER */
#header {
	background-image: url(/css/design/pornator_header_bg.png);
}

#header .logo {
	top: 15px;
	left: 10px;
	
	border: none;
}
#header .logo img {
    border: none;
}

#header .header_right a {
    text-decoration: none;
	color: #afafaf;
}
#header .header_right a:hover {
    text-decoration: underline;
}

#header .header_right a.login {
	background-image: url(/css/design/pornator_header_links_separator.png);
}

#header .logged {
    color: #fff;
}
/* HEADER */



/* CONTENT */
#content { 
    padding-top: 40px;
}

#content.hp {
    min-height: 480px;
    
    position: relative;
    top: -40px;
    
    padding-top: 310px;
    
    background-image: url(/css/design/pornator_hp_bg.png);
    background-size: auto;
}

#content.white {
	background-color: #000;
}
/* CONTENT */



.item_box {
	background-color: #292929;
	
	-moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;	
}

.item_box .info .comments {
	background-image: url(/css/design/pornator_icon_comments.png);
}

.item_box .label {
	color: #fff;
}

.item_box .label a {
	color: #fff !important;
}

.item_box .button_download {
    float: none;
}

.search_info h1, .search_info h2 {
	color: #848484;
}

.search_results {
    margin-bottom: 30px;
}



/* NOTICES */
.notice_ok, .notice_error, .notice_info {
	margin-bottom: 25px;
}
/* NOTICES */



/* HP */
.form_search {
	width: 940px;
	
	margin: 0 auto 25px auto;
	
	-moz-box-shadow: 0 -40px 70px rgba(0,0,0,.9);
    -webkit-box-shadow: 0 -40px 70px rgba(0,0,0,.9);
    box-shadow: 0 -40px 70px rgba(0,0,0,.9);
}

.form_search.searching {
	height: 227px;
}

.form_search fieldset {
	height: 227px;
	background-image: url(/css/design/pornator_search_bg.png);
}

.form_search fieldset label {
	padding-top: 20px;
}

.form_search input.search {
	left: 80px;
	top: 75px;
	
	width: 797px;
	height: 50px;
	
	font-size: 18px;
	line-height: 50px;
	color: #555555;
}

.form_search input.button_red {
	position: absolute;
	left: 326px;
	bottom: -4px;
}

.form_search .clear_search {
	top: 92px;
	
	background-image: url(/css/design/pornator_input_clear.png);
}

.form_search input.search::-webkit-input-placeholder { 
    color: #555555;
}
.form_search input.search:-moz-placeholder { 
    color: #555555;
}
.form_search input.search::-moz-placeholder { 
    color: #555555;
}
.form_search input.search:-ms-input-placeholder { 
    color: #555555;
}

.form_search .autocomplete {
	left: 35px;
	top: 125px;
	width: 868px;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #000;
	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.form_search .autocomplete a {
    color: #c4c4c4;
    
    border-top: none;
	border-bottom: 1px solid #c4c4c4;
}
.form_search .autocomplete a:hover {
    color: #000;
    
	background-color: #c4c4c4;
}
.form_search .autocomplete li:first-child a {
    border-top: 1px solid #c4c4c4;
}
.form_search .autocomplete li:last-child a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.search_results_hp {
    padding-top: 50px;
}
/* HP */



/* DETAIL */
#detail_left .detail_images .main_image .size {
    color: #bb1010;
    
	background-color: #000;
}

#detail_left .detail_images .thumbs .prev, #detail_left .detail_images .thumbs .next {
	height: 30px;
}

#detail_left .detail_images .thumbs .prev {
	background-image: url(/css/design/pornator_carousel_controls.png);
}
#detail_left .detail_images .thumbs .prev.disabled {
	background-image: url(/css/design/pornator_carousel_controls_disabled.png);
}

#detail_left .detail_images .thumbs .next {
	background-image: url(/css/design/pornator_carousel_controls.png);
	background-position: left -30px;
}
#detail_left .detail_images .thumbs .next:hover {
	background-position: -60px -30px;
}
#detail_left .detail_images .thumbs .next.disabled {
	background-image: url(/css/design/pornator_carousel_controls_disabled.png);
	background-position: left -30px;
}

#detail_left .file_info th, #detail_left .file_info td {
	color: #fff;
}

#detail_left .file_info th {
    font-weight: bold;
	color: #848484;
}

#detail_left .file_info .thumb .number {
    color: #fff;
    
	background-color: #000;
}

.comments h2 span {
	color: #848484;
}

.comments .comment_item {
	background-color: #2a2a2a;
	border: none;
}

.comments .comment_item .date {
	color: #848484;
}

.comments .comment_item .desc {
	color: #fff;
}

.form_detail_search .button {
	background-color: #bb1010;
	
	background-image: none;
	background-image: -moz-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
}
.form_detail_search .button:hover {
    background-color: #7e0b0b;
    
    background-image: none;
	background-image: -moz-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
}
/* DETAIL */



/* BOTTOM */
#bottom {
	padding: 35px 0;
	
	background-color: #242424;
    
    -moz-box-shadow: 0 -3px 10px #000;
    -webkit-box-shadow: 0 -3px 10px #000;
    box-shadow: 0 -3px 10px #000;
}

#bottom .inner {
    position: relative;
    
	background: url(/css/design/pornator_bottom_bg.png);
}

#bottom .bottom_girls {
    position: absolute;
    right: 0;
    bottom: -35px;
}

#bottom .bottom_box ul li a {
	color: #fff;
}
/* BOTTOM */



/* FOOTER */
#footer {
    width: 100%;
	
	font-size: 12px;
	color: #7a7b7b;
	
	padding: 15px 0;
	
	background-color: #323232;
	
    -moz-box-shadow: 0 0 25px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,.5);
    box-shadow: 0 0 25px rgba(0,0,0,.5);
    
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzM3MzciIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, #000 0%, #000 0.51%, #373737 100%);
    background-image: -o-linear-gradient(bottom, #000 0%, #000 0.51%, #373737 100%);
    background-image: -webkit-linear-gradient(bottom, #000 0%, #000 0.51%, #373737 100%);
    background-image: linear-gradient(bottom, #000 0%, #000 0.51%, #373737 100%);
}
/* FOOTER */


.button_blue {
	width: 286px;
	height: 75px;
	line-height: 75px;
	background: url(/css/design/butt_search.png) no-repeat left top;
}
.button_blue:hover {
	background-position: left -75px;
}

.form_recharge {
	background-image: url(/css/design/pornator_recharge_bg.png);
}

.form_recharge input.sms_code {
	color: #bb1010;
}


.credit_ok {
	color: #fff;
} 

.credit_ok-table td {
	color: #fff;
}

.credit_ok .white_box {
	color: #fff;
}


.button_pay {
    border: none;
    background-color: #9f0000;
    
	background-image: -moz-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
	background-image: -o-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
	background-image: -webkit-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
	background-image: linear-gradient(bottom, #9f0000 0%, #e70000 100%);
}
.button_pay:hover, .button_pay.active {
	background-color: #e70000;
	
	background-image: -moz-linear-gradient(top, #9f0000 0%, #e70000 100%);
	background-image: -o-linear-gradient(top, #9f0000 0%, #e70000 100%);
	background-image: -webkit-linear-gradient(top, #9f0000 0%, #e70000 100%);
	background-image: linear-gradient(top, #9f0000 0%, #e70000 100%);
}


.form_report_file fieldset.data_contact td {
	color: #fff;
}


.wheel_share_box {
    background-color: #2a2a2a;
    background-image: none;
}

.wheel_winner_left .wheel_share_box {
    color: #afafaf;
}

.wheel_winner_left .bigger_text {
    color: #afafaf;
}

.wheel_prizes .label {
    color: #828282;
}

.prize_box {
    color: #fff;
    
    background-color: #252525;
        
    background-image: -moz-radial-gradient(center center, circle, #424242 0%, #252525 100%);
    background-image: -o-radial-gradient(center center, 100px 100px, #424242 0%, #252525 100%);
    background-image: -webkit-radial-gradient(center center, 100px 100px, #424242 0%, #252525 100%);
    background-image: radial-gradient(center center, 100px 100px, #424242 0%, #252525 100%);
}
a.prize_box:hover {
    background-color: #191919;
    
    background-image: -moz-radial-gradient(center center, circle, #424242 0%, #191919 100%);
    background-image: -o-radial-gradient(center center, 100px 100px, #424242 0%, #191919 100%);
    background-image: -webkit-radial-gradient(center center, 100px 100px, #424242 0%, #191919 100%);
    background-image: radial-gradient(center center, 100px 100px, #424242 0%, #191919 100%);
}

.prize_box strong {
    color: #bb1010;
}

.prize_box.gold {
    background-color: #a18053;
    
    background-image: -moz-radial-gradient(center center, circle, #e4c7a0 0%, #a18053 100%);
    background-image: -o-radial-gradient(center center, 100px 100px, #e4c7a0 0%, #a18053 100%);
    background-image: -webkit-radial-gradient(center center, 100px 100px, #e4c7a0 0%, #a18053 100%);
    background-image: radial-gradient(center center, 100px 100px, #e4c7a0 0%, #a18053 100%);
}
.prize_box.gold:hover {
    background-color: #907146;
    
    background-image: -moz-radial-gradient(center center, circle, #e4c7a0 0%, #907146 100%);
    background-image: -o-radial-gradient(center center, 100px 100px, #e4c7a0 0%, #907146 100%);
    background-image: -webkit-radial-gradient(center center, 100px 100px, #e4c7a0 0%, #907146 100%);
    background-image: radial-gradient(center center, 100px 100px, #e4c7a0 0%, #907146 100%);
}

.prize_box.silver {
    background-color: #6c6c6c;
    
    background-image: -moz-radial-gradient(center center, circle, #a7a7a7 0%, #6c6c6c 100%);
    background-image: -o-radial-gradient(center center, 100px 100px, #a7a7a7 0%, #6c6c6c 100%);
    background-image: -webkit-radial-gradient(center center, 100px 100px, #a7a7a7 0%, #6c6c6c 100%);
    background-image: radial-gradient(center center, 100px 100px, #a7a7a7 0%, #6c6c6c 100%);
}
.prize_box.silver:hover {
    background-color: #5e5d5d;
    
    background-image: -moz-radial-gradient(center center, circle, #a7a7a7 0%, #5e5d5d 100%);
    background-image: -o-radial-gradient(center center, 100px 100px, #a7a7a7 0%, #5e5d5d 100%);
    background-image: -webkit-radial-gradient(center center, 100px 100px, #a7a7a7 0%, #5e5d5d 100%);
    background-image: radial-gradient(center center, 100px 100px, #a7a7a7 0%, #5e5d5d 100%);
}


.no_credits .label {
	color: #fff;
}

.no_credits .credits_info {
	color: #fff;
}


.content_navigation_left li.subs {
	background-image: url(/css/design/navigation_bg_pornator.png);
}
.content_navigation_left li ul.sub li {
	background-image: url(/css/design/navigation_bg_pornator.png);
}

.content_navigation_left li a {
    padding: 14px 0;
    
    background: none;
	border: none;
	
	background-color: #3e3e3e;
    
    -moz-box-shadow: inset 0 0 10px rgba(255,255,255,.25);
    -webkit-box-shadow: inset 0 0 10px rgba(255,255,255,.25);
    box-shadow: inset 0 0 10px rgba(255,255,255,.25);
    
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3MzczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #1a1a1a 0%, #373737 100%);
    background-image: -o-linear-gradient(bottom, #1a1a1a 0%, #373737 100%);
    background-image: -webkit-linear-gradient(bottom, #1a1a1a 0%, #373737 100%);
    background-image: linear-gradient(bottom, #1a1a1a 0%, #373737 100%);
}

.content_navigation_left li a:hover, .content_navigation_left li a.active {
    background: none;
    
    background-color: #e20000;
    
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 0 10px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 0 10px rgba(255,255,255,.5);
    box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 0 10px rgba(255,255,255,.5);
    
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
    background-image: -o-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
    background-image: -webkit-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
    background-image: linear-gradient(bottom, #9f0000 0%, #e70000 100%);
}



/* FORMATED TABLE */
table.formated th, table.formated td {	
    color: #fff;
    
	background-color: #2c2c2c;
}
table.formated tr:nth-child(even) th, table.formated tr:nth-child(even) td, 
table.formated tr.bg th, table.formated tr.bg td {
    color: #fff;
    
	background-color: #1d1d1d;
}

table.formated tr.green td {	
    color: #000;
    
	background-color: #727272;
}

table.formated h3 {
    color: #bb1010;
}

table.formated th label, table.formated td label {
    color: #fff !important;
}

table.formated thead th, table.formated thead td {
	color: #fff;
	
	background-color: #d50000;
	
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 0 10px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 0 10px rgba(255,255,255,.5);
    box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 0 10px rgba(255,255,255,.5);

    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
    background-image: -o-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
    background-image: -webkit-linear-gradient(bottom, #9f0000 0%, #e70000 100%);
    background-image: linear-gradient(bottom, #9f0000 0%, #e70000 100%);

}
/* FORMATED TABLE */



.form_affiliate_modal {
    color: #fff;
    
	background-color: #2a2a2a;
}

.form_affiliate_modal th, .form_affiliate_modal td {
    color: #848484;
}

.help_box ul li {
	color: #000;
}

.credit_value {
	color: #000;
}

.nonregister_download .file_label {
	color: #bb1010;
}

.nonregister_download .file_info .info {
	color: #fff;
}

.nonregister_download .left h2 {
	color: #bb1010;
}


.content_left .user_info {
	background-color: #2a2a2a;	
}

.show_graph:hover, .graph .graph_close:hover {
	color: #bb1010;
}


.ask_payment {
	color: #fff;
}

.credit_value {
    color: #bb1010;
}

.registration_ok-text {
	color: #fff;
}


.deleted p.label {
	color: #bb1010;
}

.deleted h1, .deleted h2 {
	color: #fff;
}


.ask_payment .ask_payment_checkboxes label {
	color: #848484;
}


.labels_cloud {
    background-color: #323232;   
}

.labels_cloud a {
    color: #fff;
    
    background-color: #bb1010;
	
	background-image: none;
	background-image: -moz-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
}
.labels_cloud a:hover {
	color: #fff; 
	
	background-color: #7e0b0b;
    
    background-image: none;
	background-image: -moz-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
}


.pagination a {
    background-color: #bb1010;
	
	background-image: none;
	background-image: -moz-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(bottom, #7e0b0b 0%, #bb1010 100%);
}
.pagination a:hover, .pagination a.active {
    color: #000;
    
	background-color: #7e0b0b;
    
    background-image: none;
	background-image: -moz-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -o-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: -webkit-linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
	background-image: linear-gradient(top, #7e0b0b 0%, #bb1010 100%);
}

.pagination a.prev, .pagination a.next {
    color: #bb1010;
    
    background: none;
}

.upload_manager_link {
	color: #bb1010;
}

.uploader_box .button_blue_shadow {
	background: url(/css/design/pornator_button_blue_shadow.png) no-repeat left bottom;	
}

.uploader_box .upload_summary tbody td {
	color: #000;
}


#rating_reason .help_box {
    color: #fff;
}

#rating_reason .help_box a:hover {
    color: #bb1010;
}

.form_rating textarea {
    color: #000;
    
	border: none;
}

.form_rating textarea::-webkit-input-placeholder { 
    color: #999;
}
.form_rating textarea:-moz-placeholder { 
    color: #999;
}
.form_rating textarea::-moz-placeholder { 
    color: #999;
}
.form_rating textarea:-ms-input-placeholder { 
    color: #999;
}


.partner_stats_inner .tip {
	background-color: #fff;
}
.partner_stats .partner_stats_inner table th, 
.partner_stats .partner_stats_inner table td 
{
    border: none;
    padding: 10px 5px !important;
	color: #000 !important;
}

table.checkboxes th, table.checkboxes td {
    color: #afafaf;
}

.registration_ok-items h2 {
    color: #fff;
	border-color: #474646;
}

.registration_ok-top {
	border-color: #474646;
}

.list_registration_ok_sms li {
    color: #fff;
    background: url(/css/design/li_bg.png) no-repeat 10px 5px;
}

form.form_files_thumbs .left .cover {
	border-color: #474646;
}

form.form_files_thumbs .help {
	color: #afafaf;
}

.iframe_thumbs .thumb_box a.label {
	color: #afafaf;
}

.uploader_box .upload_file_list th, 
.uploader_box .upload_file_list td 
{
	color: #000;
}

.error_page {
	background-image: url(/css/design/pornator_error_bg.jpg);
}

.login_right .help_box p {
    color: #848484;
}

.login_left .button_green {
    background-color: #9cc400;
    
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4YTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FmZDUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #78a500 0%, #afd500 100%);
	background-image: -o-linear-gradient(bottom, #78a500 0%, #afd500 100%);
	background-image: -webkit-linear-gradient(bottom, #78a500 0%, #afd500 100%);
	background-image: linear-gradient(bottom, #78a500 0%, #afd500 100%);
}
.login_left .button_green:hover {
    background-color: #8db700;
	
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHgyPSI1MCUiIHkyPSIxMDAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4YTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FmZDUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, #78a500 0%, #afd500 100%);
	background-image: -o-linear-gradient(top, #78a500 0%, #afd500 100%);
	background-image: -webkit-linear-gradient(top, #78a500 0%, #afd500 100%);
	background-image: linear-gradient(top, #78a500 0%, #afd500 100%);
}

.nonregister_download .right {
    width: 560px;
}

.form_login, .nonregister_download .form_login {
    background-image: url(/css/design/pornator_login_bg.png);
}

.form_login .bottom_elements label {
	color: #7d7d7d;
}

.form_login input.login_name {
	color: #fff;
}
.form_login input.login_name:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #000 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.nonregister_download .form_login {
    top: 2px;
    width: 560px;
	height: 368px;
}
.nonregister_download .form_login .label {
	padding-top: 30px;
}
.nonregister_download .form_login input.login_name {
	top: 86px;
}
.nonregister_download .form_login input.login_password {
	top: 166px;
}
.nonregister_download .form_login .button_red {
	left: 138px;
	bottom: 3px;
}


.form_login input.login_password {
	color: #fff;
}
.form_login input.login_password:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #000 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.form_login input.login_name::-webkit-input-placeholder, .form_login input.login_password::-webkit-input-placeholder { 
    color: #555555;
}
.form_login input.login_name:-moz-placeholder, .form_login input.login_password:-moz-placeholder { 
    color: #555555;
}
.form_login input.login_name::-moz-placeholder, .form_login input.login_password::-moz-placeholder { 
    color: #555555;
}
.form_login input.login_name:-ms-input-placeholder, .form_login input.login_password:-ms-input-placeholder { 
    color: #555555;
}

.form_login .bottom_elements a.float_right {
	color: #d50404;
}

.checkbox_bg .checkbox_overlay {
	background-image: url(/css/design/pornator_checkbox_bg.png);
}


.tag_cloud_cover .label, 
.tag_cloud_cover_hp .label {
	color: #fff;
}

.file_info_top .info {
    color: #fff;
}

.file_info_top .detail_thumbs .thumb .number {
    color: #fff;
	background-color: #000;
}

.file_info_top .separator {
    background-color: #545454;
}

.file_info_list {
    background-image: url(/css/design/pornator_file_info_bg.png);
    border: 1px solid #545454;
}
.file_info_list-item {
    color: #fff; 
}
.file_info_list .row_line {
    background-color: #545454;
}

#detail_left .file_info_top #copy_link_box textarea {
	color: #fff;
    background-color: #171717;
	border: 2px solid #545454;
}

.message_info {
    color: #c1c1c1;
    
    background: url(/css/design/pornator_icon_message_info.png) #2a2a2a no-repeat 30px center;
}

.forgotten_password_info, .forgotten_password_info a {
    color: #848484;
}

.form_forgotten_password {
    position: relative;
    width: 554px;
    height: 268px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    -moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	border: none;
	background: none;
	background: url(/css/design/pornator_forgotten_password_bg.png) no-repeat left top;
}
.form_forgotten_password input.bg {
	width: 490px;
	height: 43px;
	font-size: 18px;
	line-height: 43px;
	color: #fff;
	background: none;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-left: 30px;
	margin-bottom: 30px;
}
.form_forgotten_password input.bg::-webkit-input-placeholder { 
    color: #6e6e6e;
}
.form_forgotten_password input.bg:-moz-placeholder { 
    color: #6e6e6e;
}
.form_forgotten_password input.bg::-moz-placeholder { 
    color: #6e6e6e;
}
.form_forgotten_password input.bg:-ms-input-placeholder { 
    color: #6e6e6e;
}

.affilliate_block {
    color: #fff;
}

.affilliate_block.right h2 {
    color: #fff;
}

.affilliate_block .perex {
    color: #fff;
}